.App{
  border:  1px solid #c7acac;
  border-radius: 5px;
  width: 550px;
  margin: 120px auto;
} 
.todoBody{
  padding: 10px;
}
.todoItems{
  border: 1px solid gray;
  margin-top: 10px;
}
.todoItems > div:nth-child(even){
  border: 1px solid gray;
  margin-top: 10px;
}
.add-todo{
  /* display: flex; */
  text-align: center;
  color: #c7acac;
}
.preloader{
  display: flex;
  justify-content: center;
}
.preloader img{
  height: 100vh;
  align-items: center;
}
@media (max-width:768px){
  .App{
    width: 95%;

  }
}
/* @media (max-width:500px){
  .App{
    width: 4%;

  }
}
@media (max-width:300px){
  .App{
    width: 95%;

  }
} */